* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: "Montserrat";
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

h3 {
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 1rem;
}

#add {
  font-size: 40px;
  vertical-align: middle;
  padding-right: 8px;
}

#download {
  font-size: 10px;
  padding-right: 10px;
  padding-bottom: 0.6rem;
}

#profile {
  height: 1.5rem;
  border-radius: 50%;
  vertical-align: middle;
  padding-right: 5px;
}

#utente {
  padding-top: 0.9rem;
  padding-bottom: 0.2rem;
}

#player-img {
  height: 40px;
}

#playbutton {
  padding: 0px 5px;
  vertical-align: middle;
}

#playbutton:hover {
  transform: scale(1.2);
}

.debug {
  /* DEBUG */
  border: 1px dashed red;
}

.app-container {
  height: 100vh;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.grow {
  flex-grow: 1;
  overflow: hidden;
}

.scroll {
  overflow: auto;
}

.sidebar {
  flex-shrink: 0;
  width: 200px;
}

.head-container {
  flex-shrink: 0;
  padding: 2.8rem 1rem;
  position: relative;
}

.main-container {
  padding: 0 1.3rem;
}

.main-link {
  padding-bottom: 2rem;
  padding-top: 1.2rem;
}

.main-box {
  padding-bottom: 2rem;
}

.player-container {
  flex-shrink: 0;
  height: 80px;
  padding: 0.6rem 0.5rem;
}

.bg-black {
  background-color: black;
}

.bg-dark {
  background-color: #090c14;
}

.bg-semidark {
  background-color: #141922;
}

.bg-grey {
  background-color: #282828;
}

.text-white {
  color: white;
}

.text-grey {
  color: #7c7f83;
}

.turn-white:hover {
  color: white;
  cursor: pointer;
}

.add-underline:hover {
  text-decoration: underline;
}

.font-xs {
  font-size: 0.6rem;
  font-weight: bolder;
}

.font-little {
  font-size: 0.7rem;
  font-weight: bolder;
}

.font-small {
  font-size: 0.8rem;
  font-weight: bolder;
}

.font-medium {
  font-size: 0.9rem;
  font-weight: bolder;
}

.font-big {
  font-size: 1.5rem;
}

.logo {
  width: 80%;
  padding: 1rem 0 1.2rem 1rem;
}

.link {
  text-decoration: none;
}

.menù-row {
  padding-bottom: 3px;
}

.menù-item {
  width: 42px;
  display: inline-block;
  padding-left: 1rem;
  vertical-align: top;
}

.menù-text {
  display: inline-block;
}

.playlist {
  padding: 1rem 0 0 1rem;
}

.user {
  padding: 0 1rem;
}

.button {
  padding: 0.8rem 1.5rem;
  border: 2px solid white;
  border-radius: 2rem;
  text-align: center;
  background-color: transparent;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.button:hover {
  transform: scale(1.1);
}

.current-song {
  padding: 0.3rem 0.7rem;
}

.icons {
  padding: 0.3rem 2rem;
  gap: 0.8rem;
}

.ct-panel {
  align-items: center;
  min-width: 200px;
}

.volume {
  height: 5px;
  width: 120px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #545454;
}

.box-playbar {
  width: 60%;
  padding-top: 4px;
}

.playbar {
  height: 5px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #545454;
}

.fill-playbar {
  width: 20%;
  height: 100%;
  background-color: #adadad;
  position: relative;
}

.fill-circle {
  position: absolute;
  right: 0;
  top: -3px;
  display: none;
  color: white;
}

.playbar:hover .fill-playbar{
  background-color: #598128;
}

.volume:hover .fill-playbar{
  background-color: #598128;
}

.playbar:hover .fill-circle{
  display: block;
}

.volume:hover .fill-circle{
  display: block;
}

.card {
  width: calc((100% - 5rem) / 6);
  padding-top: 1.8rem;
}

.card-item {
  position: relative;
}

.card-img {
  width: 100%;
}

.card-text {
  padding-top: 1rem;
}

.over-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  font-size: 3.8rem;
  color: white;
  display: none;
}

.card-item:hover .over-img {
  display: block;
}

.subtitle {
  padding-top: 0.5rem;
}

.circle {
  border-radius: 50%;
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 1.7rem;
}

.shrink {
  flex-shrink: 0;
}